repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        args: ["--line-length=100"]
        exclude: ^tests/vision/test_vision_ocr_integration\.py$

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "100"]
        exclude: ^tests/vision/test_vision_ocr_integration\.py$

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=100", "--ignore=E203,W503"]
        exclude: ^tests/vision/test_vision_ocr_integration\.py$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'python -m mypy src --ignore-missing-imports --strict'
        language: system
        pass_filenames: false
        types: [python]
